<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Habits.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Habits.My.MySettings.habitsConnectionString" connectionString="Data Source=(local)\HABITS;Initial Catalog=habits;Persist Security Info=True;User ID=sa;Password=swj"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <Habits.My.MySettings>
      <setting name="LogPath" serializeAs="String">
        <value>c:\</value>
      </setting>
      <setting name="CommTimeOut" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="TranTimeOut" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="LoginName" serializeAs="String">
        <value>datasync</value>
      </setting>
      <setting name="UpdateFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReserveFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ServiceType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MasterFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReceiptFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoginPassword" serializeAs="String">
        <value>dev</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>ＳＷＪ</value>
      </setting>
      <setting name="PrinterLogoFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AdminFlag" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TaxType" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value>EPSON TM-T88IV ReceiptJ4</value>
      </setting>
    </Habits.My.MySettings>
  </userSettings>
</configuration>
